<!DOCTYPE html>
<html lang="en">
  <%= partial :_header %>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><%=@project_name%></a>
        </div>
      </div>
    </div>
    <div class="container">
      <%= partial :_pl_form %>
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery-1.7.2.min.js"></script>
    <script src="/lib/wilkscalc.js"></script>
    <script src="/lib/controller.js"></script>
  </body>
</html>

