<!DOCTYPE html>
<html lang="en">
  <%= partial :_header %>
  <body>
    <%= partial :_navbar %>
    <div class="container">
      <%= partial :_total_form %>
    </div> <!-- /container -->
    <%= partial :_footer %>
  </body>
</html>
